body {
    height: 100vh;
}

.clear {
    clear: both;
}

p,
h1 {
    user-select: none;
}

.homeBackgroundContent{
    width: 100vw;
    height: 100vh;
    background: rgb(212, 183, 255);
    background: linear-gradient(0deg, rgba(212, 183, 255, 1) 0%, rgba(255, 255, 255, 1) 44%);
}

.background {
    height: 100%;
}

.backgroundContent {
    width: calc(100vw - 70px);
    height: calc(100vh - 90px);
    margin-top: 70px;
    margin-left: 90px;
}

.backgroundTitle {
    border-bottom: 1px rgb(244, 163, 255) solid;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: auto;
}

.divBackground {
    height: 80vh;
}

.divContent {
    height: 100%;
}

.contents {
    height: 50%;
}

.divTitles {
    height: 20%;
    display: flex;
    justify-content: space-evenly;
}

.divInsideContents {
    display: flex;
    justify-content: space-evenly;
    height: 80%;
}

.contentsTitle {
    width: 45vw;
    font-size: 3.3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textInfo {
    color: black;
    font-size: 2vh;
    font-weight: bold;
}

.insideDivs {
    cursor: pointer;
    background-color: rgb(241, 228, 255);
    border: 2px rgb(239, 173, 255) solid;
    border-radius: 20px;
    width: 42vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-box-shadow: inset 0px 0px 9px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0px 0px 9px 1px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 0px 9px 1px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease-in-out;
}

.insideDivs:hover {
    -webkit-box-shadow: inset 0px 0px 9px 1px rgb(239, 173, 255);
    -moz-box-shadow: inset 0px 0px 9px 1px rgb(239, 173, 255);
    box-shadow: inset 0px 0px 9px 1px rgb(239, 173, 255);
}

.firstBox {
    color: grey;
    font-size: 10vh;
    transition-duration: 0.1s;
}

.firstBox:hover {
    color: purple;
    font-size: 10.5vh;
}

.secondBox {
    color: green;
    font-size: 8vh;
    transition-duration: 0.1s;
}

.secondBox:hover {
    color: purple;
    font-size: 8.5vh;
}

.thirdBox {
    color: rgb(182, 148, 0);
    font-size: 8vh;
    transition-duration: 0.1s;
}

.thirdBox:hover {
    color: purple;
    font-size: 8.5vh;
}

.forthBox {
    color: black;
    font-size: 10vh;
    transition-duration: 0.1s;
}

.forthBox:hover {
    color: purple;
    font-size: 10.5vh;
}

.changeColorRed {
    color: red;
}

.changeColorGreen {
    color: green;
}

@media (max-width: 1366px) {
    .backgroundTitle {
        text-align: left;
        border-bottom: 1px rgb(244, 163, 255) solid;
        height: 50px;
        /* background-color: purple; */
    }

    .divBackground {
        height: 530px;
        /* background-color: red; */
    }

    .backgroundTitle {
        font-size: 14px;
    }
}