.import-container {
    margin-top: 100px;
    width: calc(100vw - 70px);
    float: right;
}

.import-container-upload input {
    border: none;
    outline: none;
    color: white;
}

.import-container h2 {
    color: white;
    padding: 10px;
}

.table-json-result-div {
    width: 80vw;
    overflow: auto;
    height: 35vh;
    margin: 20px auto;
}

.json-results {
    margin-top: 1vh;
}

.table-json-result {
    border-collapse: collapse;
    width: 100%;
}

.table-json-result thead tr {
    background-color: #370072;
    color: white;
}

.table-json-result th,
.table-json-result td {
    padding: 5px 8px;
}

.table-json-result td {
    font-size: 14px;
}

.table-json-result tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table-json-result tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.import-container-upload {
    padding: 25px 15px;
    border-radius: 20px;
    display: flex;
    width: 50%;
    margin: auto;
}

#div-inputTitleNF {
    margin: auto;
    margin-right: 0%;
    height: 100%;
    font-size: 2vh;
    text-align: right;
    width: 50%;
}

#div-inputLabel {
    margin: 0% 10% 0% 0%;
    width: 40%;
    padding: 3vh 0vw;
}

#inputTypeFileLabel {
    width: 100%;
    background: linear-gradient(to right, #6F00E6, #A55FF0);
    padding: 3vh 4vw;
    border-radius: 20px;
    color: white;
    font-size: 3vh;
    cursor: pointer;
}