.background-div {
    float: right;
    width: calc(100vw - 70px);
    height: 88vh;
    margin: 12vh auto;
}

button i{
    position: relative;
    top: 2px;
}

.div-h1-button {
    display: flex;
    justify-content: space-between;
    margin: 1vh auto;
    width: 80%;
    align-items: center;
}

.div-h1-button div button {
    margin-left: 1vw;
}

.div-h1-button button {
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 9px 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    transition: 0.3s ease-in-out;
}

.div-h1-button button:hover {
    filter: brightness(1.15);
}

.req-add-button {
    background: linear-gradient(to right, #E16C01, #F58F32);
}

.div-h1-button button:active {
    border-color: rgb(201, 201, 201);
    color: white;
}

.div-tables {
    height: 35%;
    overflow: auto;
    margin: 1% auto;
    width: 80%;
}

.tables {
    border-collapse: collapse;
    margin: 0 auto;
    width: 100%;
}

.tables thead tr {
    background-color: #370072;
    color: white;
}

.tables th,
.tables td {
    padding: 5px 8px;
    cursor: pointer;
    user-select: none;
}

.tables td {
    font-size: 14px;
}

.tables tbody tr {
    border-bottom: 1px solid #dddddd;
}

.tables .table-even tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.linhaColunasProdutosVerde {
    background-color: rgb(209, 255, 194);
}

.linhaColunasProdutosVermelho {
    background-color: rgb(255, 205, 205);
}

.selectedListItem:hover {
    border-left: 3px solid rgb(0, 255, 0)
}