.clear{
    clear: both;
}

.table-container{
    float: right;
    width: calc(100vw - 70px);
    height: 90vh;
}

.campo-procurar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px auto 0 auto;
    width: 80vw;
}

.campo-procurar input[type='text']{
    width: 100%;
    padding: 5px 10px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #686868;
}

.main-table-div {
    margin: 30px auto;
    width: 80vw;
    height: 65%;
    overflow: auto;
}

.main-table{
    width: 100%;
    border-collapse: collapse;
}

.main-table thead tr{
    background-color: #370072;
    color: white;
}

.main-table th,
.main-table td{
    padding: 5px 8px;
}

.main-table td{
    font-size: 14px;
}

.main-table tbody tr{
    border-bottom: 1px solid #dddddd;
}

.main-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.btn{
    padding: 3px 5px;
    border-radius: 5px;
    text-decoration: none;
    outline: none;
    border: none;
    background-color: #E16C01;
    color: white;
    cursor: pointer;
}

.btn-add-produto{
    padding: 10px 13px;
    margin: 30px 1vw 0 1vw;
    transition: 0.3s ease-in-out;
}

.main-table button{
    margin: 0 1%;
}

.btn-add-produto:hover{
    transform: scale(1.03);
    background-color: #ee7b10;
}

.btn-edit{
    background-color: #009879;
    transition: 0.3s ease-in-out;
}

.btn-edit:hover{
    background-color: #00bb96;
}

.btn-excluir{
    background-color: #f44336;
    transition: 0.3s ease-in-out;
}

.btn-excluir:hover{
    background-color: #ff5346;
}

#disabledButton {
    cursor: default;
    opacity: 0;
    transition: 0.4s;
    background-color: #ee7b10;
}

#movedButton {
    width: 25%;
    margin-left: 10vw;
    transition: 0.4s;
}

#handleClick {
    cursor: pointer;
    transition: 0.2s;
}

#handleClick:hover {
    background-color: rgb(200, 255, 200);
}

#handleClick:active {
    background-color: rgb(182, 255, 182);
}