.modalBackground2 {
    align-items: center;
    background-color: rgba(148, 148, 148, 0.7);
    display: none;
    height: 100%;
    position: absolute;
    justify-content: center;
    width: 100%;
    z-index: 1000;
    transition-duration: 0.5s;
    /* Centralizar verticalmente e horizontalmente com flexbox */
}

.modalStructure2 {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 14px 28px, rgba(0, 0, 0, 0.12) 0px 10px 10px;
    width: 60%;
    background-color: white;
    border: none;
    border-radius: 20px;
    padding: 3vh 0vw;
    opacity: 1;
}

.modalTitle2 {
    padding: 2vh 0vw 4vh 0vw;
}

.modalBottom2 div {
   display: flex;
   justify-content: right;
}

.modalBottom2 button {
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 9px 15px;
    font-size: 16px;
    margin: 3vh 1vw 0vh 0vw;
    transition: 0.3s ease-in-out;
}

.modalBottom2 button:hover {
    filter: brightness(1.15);
}

.modalBottom2 button:active {
    border-color: rgb(201, 201, 201);
    color: white;
}

.modalContent2 {
    margin: auto;
    width: 100%;
}

.divModalContent2 {
    display: flex;
    margin: auto;
    padding: 1vh 0vh;
    justify-content: space-between;
    width: 70%;
}

.modalContent2 form div input {
    border: none;
    background-color: rgb(226, 226, 226);
    outline: none;
    border-radius: 8px;
    padding-left: 5px;
    width: 50%;
}